html,
body {
  /* max-width: 100vw; */
  /* height: 100vh; */
  /* overflow-x: hidden; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* width: 100vw; */
  padding: 0px;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

.line {
  width: 57.5vw;
  margin-left: 6vw;
  margin-right: 6vw;
  margin-top: 4vmin;
  margin-bottom: 3vmin;
}
.linediv {
  width: fit-content;
}

html {
  background-color: #303030;
  color: #494b50;
  padding: 10px;
  font-family: "Overpass Mono";
}
.big_div {
  margin: auto;
  /* max-width: 1334px; */
  max-width: 70vw;
  background-color: #d9d9d9;
  /* margin-top: 20px; */
  margin-top: 1.6vmin;

  /* border-radius: 33px; */
  border-radius: 3vmin;
  /* padding: 17px; */
  padding: 2vmin;
  display: flex;
}
.media_div {
  background-color: #ababab;
  /* height: 7vh; */
  width: 7vmin;
  border-radius: 2vmin;
  margin-right: 3vmin;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vmin;
}
.flex_reversed {
  flex-direction: row-reverse;
}
.bio_div {
  min-height: 40vh;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-between;
}
.name {
  font-style: normal;
  font-weight: 600;
  font-size: 6.6vmin;
  /* margin-left: 1.8em; */
  margin-left: 6vw;
  word-wrap: break-word;
  /* white-space: pre-line; */
  width: 43vw;
}

p {
  /* display: block; */
  /* margin-block-start: 1.2em;
  margin-block-end: 1.2em;
  margin-inline-start: 1.2em;
  margin-inline-end: 1.2em; */
  margin-block-start: 1vmin;
  margin-block-end: 1vmin;
  margin-inline-start: 1vmin;
  margin-inline-end: 1vmin;
}
.bio_text {
  font-style: normal;
  font-weight: 600;
  font-size: 2.6vmin;
  margin: 1em;
  word-wrap: break-word;

  /* line-height: 30px; */
}
.big_button {
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-left: 5em; */
  /* padding-right: 5em; */
  /* border-radius: 37px; */
  border-radius: 3vmin;
  padding-top: 2vmin;
  padding-bottom: 2vmin;
  padding-left: 6.5vmin;
  padding-right: 6.5vmin;
}

@media only screen and (max-width: 1640px) {
  .big_div {
    max-width: 75vw;
  }
  .line {
    width: 62.5vw;
  }
}
@media only screen and (max-width: 1330px) {
  .big_div {
    max-width: 85vw;
  }
  .line {
    width: 72vw;
  }
}
@media only screen and (max-width: 890px) {
  .big_div {
    max-width: 95vw;
  }
  .line {
    width: 80.5vw;
  }
}
.big_button:hover {
  /* transform: scale(1.05);
   */
  background-color: #494b50;
}
.big_button:active {
  background-color: #494b50;
  box-shadow: 0 0.3vmin #666;
  transform: translateY(0.3vmin);
}

img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.media_div:active {
  background-color: #7c7c7cd0;
  box-shadow: 0 0.2vmin rgba(102, 102, 102, 0.5);
  transform: translateY(0.2vmin);
}
.media_div:hover {
  background-color: #7c7c7cd0;
}
.icon {
  fill: #303030;
  color: #303030;
}
.grayProgressBar {
  background-color: grey;
}
.Toastify__toast-theme--light {
  background: #d9d9d9 !important;
  color: #494b50 !important;
  width: fit-content !important;
  border-radius: 2.2vmin !important;
}
.Toastify__toast-container {
  /* width: 260px !important; */
  width: fit-content !important;
  height: 3vmin !important;
}
.Toastify__toast {
  font-family: "Overpass Mono" !important;
  font-weight: 600 !important;
  font-size: 1.8vmin !important;
}
