.firstdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100vw;
}
.inline {
  display: inline;
}

.dot {
  animation-name: dot;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  font-size: 2em;
}

@keyframes dot {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.dot2 {
  animation-name: dot2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  font-size: 2em;
}

@keyframes dot2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.dot3 {
  animation-name: dot3;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  font-size: 2em;
}

@keyframes dot3 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
